# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/game/v15/.suo
.vs/game/v15/Browse.VC.db
.vs/game/v15/ipch/AutoPCH/224e4a5de61b9044/PLAYER.ipch
.vs/game/v15/ipch/AutoPCH/31e6f280b56205da/TEXT.ipch
.vs/game/v15/ipch/AutoPCH/5751413c832a0641/GAME.ipch
.vs/game/v15/ipch/AutoPCH/64a975361442a486/SPRITE.ipch
.vs/game/v15/ipch/AutoPCH/77211618a29a4731/ENGINE.ipch
.vs/game/v15/ipch/AutoPCH/8bad4cc933b3f55/TESTENT.ipch
.vs/game/v15/ipch/AutoPCH/937508b3aa031d3c/MAINMENU.ipch
.vs/game/v15/ipch/AutoPCH/95b31b51c3f7f433/SPAWNER.ipch
.vs/game/v15/ipch/AutoPCH/b94ae778a6fa7bc/MENU.ipch
.vs/game/v15/ipch/AutoPCH/f025e15d393a3df6/TESTENT.ipch
.vs/game/v15/ipch/AutoPCH/fdbfdeb46f11ef9c/MAIN.ipch
Debug/game.Build.CppClean.log
Debug/game.log
Debug/game.tlog/CL.command.1.tlog
Debug/game.tlog/CL.read.1.tlog
Debug/game.tlog/CL.write.1.tlog
Debug/game.tlog/game.lastbuildstate
Debug/game.tlog/link.command.1.tlog
Debug/game.tlog/link.read.1.tlog
Debug/game.tlog/link.write.1.tlog
Debug/vc141.idb
Debug/vc141.pdb
dist/game.pdb
dist/logs/engine.log
*.opendb
